<ion-view view-title="Account">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="data.username">
      </label>
      <label class="item item-input">
          <input type="email" placeholder="Email" ng-model="data.email">
      </label>
      <label class="item item-input">
          <input type="text" placeholder="Full Name" ng-model="data.firstname">
      </label>
      <label class="item item-input">
          <input type="text" placeholder="Mobile" ng-model="data.mobile">
      </label>
       
      <label class="item item-input">
          <input type="text" placeholder="Address" ng-model="data.surename">
      </label>
       
    </div>
      <button class="button button-block button-calm" ng-click="save()">Save Data</button>
  </ion-content>
</ion-view>
