<ion-view view-title="Home">
  <ion-content>
      <div ng-if="!tag.id">
            <div class="card">
                <div class="item item-text-wrap center">
                	<img src="img/nfc_load.gif">
                    
                </div>
            </div>
        </div>
        
        <div ng-if="tag.id">
            <div class="card">
                <div class="item item-text-wrap">
                    <!--
                    <dl>
                        <dt>Max Size</dt>
                        <dd>{{ tag.maxSize }} bytes</dd>
                        <dt>Is Writable</dt>
                        <dd>{{ tag.isWritable }}</dd>
                        <dt>Can Make Read Only</dt>
                        <dd>{{ tag.canMakeReadOnly }}</dd>
                       
                    </dl> -->
                    <div class="card" ng-repeat="record in tag.ndefMessage">
                        <div class="item item-divider">
                        <button class="button button-clear button-positive" ng-click="clear()" ng-if="tag.id">Delete</button>
                         
                        </div>
                        <div class="item item-text-wrap">
                        <!-- <form method="post" id="infoForm">
                        <input type="text" name="data" id="record.id" value="" placeholder="data"  />
                        <button type="submit">Save</button> 
						</form>
                        -->
                            <dl>
                                <dd>{{ record.type | bytesToString }}</dd>
                                <dt ng-if="record.id">Record Id</dt>
                                <dd ng-if="record.id">{{ record.id | bytesToString }}</dd>
                                <dd>{{ record | decodePayload }}</dd>      
                               
                            </dl>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
  </ion-content>
</ion-view>
